body {
  color: #4682b4;
  background-color: rgba(1, 25, 64, 1);
  background-image: url("../images/mtn-bg-75.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.menu {
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.burger {
  background-color: rgba(134, 181, 221, 1);
  width: 35px;
  height: 3px;
  margin: 6px;
}

/* div holding the animated circle */
.container {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  transform: scale(1);
}

/* text to display during the breathing cycle */
#text {
  font-family: "Merienda", sans-serif;
  font-size: 32px;
}

.circle {
  background-color: rgba(1, 25, 64, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

/* makes up outer border of the .circle element */
.gradient-circle {
  background: conic-gradient(
    #d1e3ff 0%,
    #4682b4 25%,
    #4682b4 25%,
    #d1e3ff 50%,
    #d1e3ff 50%,
    #4682b4 75%,
    #4682b4 75%,
    #d1e3ff 100%
  );
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  z-index: -2;
}

/* the timing hand that rotates around the gradient circle */
.pointer {
  background: linear-gradient(#65abe6, transparent);
  height: 35px;
  width: 3px;
  display: block;
  border-radius: 20% 20% 0 0;
  opacity: 0.7;
}

/* animation property will be triggered using JS */
.pointer-container {
  height: 190px;
  width: 10px;
  position: absolute;
  top: -40px;
  left: 140px;
  /* animation: rotate 16s linear forwards infinite; */
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.container.shrink {
  animation: shrink 4s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

/* these elements disappear on-click */
.click-start {
  color: aliceblue;
  font-size: 20px;
  background: rgb(32, 89, 138);
  background: linear-gradient(
    45deg,
    rgba(32, 89, 138, 1) 0%,
    rgba(134, 181, 221, 1) 70%,
    rgba(234, 245, 255, 1) 100%
  );
  width: 210px;
  height: 210px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.click-start:hover {
  width: 215px;
  height: 215px;
  transition: all 0.2s;
}

img {
  position: absolute;
  top: 100px;
  width: 50px;
  opacity: 0.5;
  cursor: text;
}

h2 {
  font-family: "Merienda", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 19px;
  position: absolute;
  bottom: 95px;
  opacity: 0.5;
  cursor: text;
}

/* mobile responsive version with pointer inside .circle for contrast */
@media (max-width: 450px) {
  .container {
    height: 230px;
    width: 230px;
  }

  .gradient-circle {
    width: 240px;
    height: 240px;
    top: -5px;
    left: -5px;
  }

  #text {
    font-size: 28px;
  }

  .pointer-container {
    top: 10px;
    left: 110px;
    width: 10px;
    height: 105px;
  }

  .pointer {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  img {
    top: 60px;
  }

  h2 {
    bottom: 60px;
  }
}
